
*{
    font-family: "League Spartan", sans-serif;
}

.main-container{
    padding: 50px;
}

.container1{
    display: flex;
}

.users-love{
    width: 50%;
}
.users-love h1{
    width: 45%;
    color: hsl(300, 43%, 22%)
}

.users-love p{
    width: 65%;
    color:  hsl(303, 10%, 53%)
}
.Review{
    width: 50%;
    padding: 20px;

}

.Rating{
    width: 60%;
    padding: 10px;
    background-color:hsl(300, 24%, 96%);
    margin: 10px;
    border-radius: 5px;
    
}
.Rating p{
    display: inline;
    margin-left: 15px;
    color: hsl(300, 43%, 22%);

}
.Rating img{
    
   padding: 2px;
}
.Colton-Smith{
    margin:15px 0px 15px 0px;
    
}

.Guru{
margin:15px 0px 15px 70px;
}

.BestTech{
    margin:15px 0px 0px 130px;
}

.card{
    width: 30%;
    height: 30%;
    padding: 20px;
    background-color:hsl(300, 43%, 22%);
    border-radius: 5px;
}
.image1{
    display: flex;
    gap: 20px;
}
.image1 img {
    border-radius: 50%;
    width: 10%;
    
}
.image1 h2{
color: hsl(0, 0%, 100%)
}
.image1 h5{
    color:  hsl(333, 80%, 67%);
}
.img-name h2,h5{
    margin: 0;
}

.card p{
    width: 87%;
    font-weight: 500;
    margin:  30px auto;
    color:hsl(0, 0%, 100%)
}


.container2{
    display: flex;
}

.Irene-Roberts{
    margin:50px 0px 0px 40px;
}

.Anne-Wallace{
    margin-top: 100px;
    margin:100px 0px 0px 40px;
}

@media screen and (max-width:450px){


    .main-container{
        padding: 0%;
    }
.users-love h1{
    width: 69%;
}
.container1{
    display: flex;
    flex-direction: column;
}
.users-love{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.users-love p{
    width: 75%;
}

.Review{
    width: 95%;
    padding: 0px;
}

.Rating{
    width: 90%;
   margin:10px 0px;
   padding: 15px;
}
.container2{
   
    flex-direction: column;
}

.card{
    width: 70%;
    margin:10px  auto;

}






}